<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!-- What site do you want to crawl? -->
    <add key="startingUrl" value="https://monzo.com/"/>
    <!-- Do you want to crawl external sites? -->
    <add key="followExternal" value="false"/>
    <!-- Point this to some location that exists on your machine -->
    <add key="logDirectoryPath" value="C:\Temp"/>
    <add key="logTextFileName" value="C:\Temp\Report.htm"/>
  </appSettings>
</configuration>
